*{
    padding: 0;
    border: 0;
    margin: 0;
}

header,
header *{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

button,
button *{
    border: 5px;
    padding: 2px;
    background-color: transparent;
}

div,
div *{
    border: 5px;
    padding: 5px;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 3px solid black;
    gap: 0;

    .intro{
        border: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
        background: rgb(252, 248, 236);
        
        h1{
            font-size: 6rem;
            margin-left: -2.5%;
        }

        p{
            font-size: 1.1rem;
        }
    }
    .intro2{
        border: 3px solid black;
        position: relative;
        background: rgb(252, 248, 236);
        .float{
            position: absolute;

            padding: 0;
            width: 45%;
            height: 430px;
            top: 50%;
            left: 20%;

            .myimage{
                height: 260px;
                background: rgb(77, 107, 84);
                position: relative;

                img{
                    width: 410px;
                    position: absolute;
                    top: -10.5rem;
                    left: -5px;
                }
            }
            .contact{
                height: 150px;
                background: black;

                h2{
                    color: rgb(230, 229, 229);
                    padding-bottom: 3%;
                }

                .contactCont{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr;
                    .icons{
                        size: 5rem;
                    }
                    
                    .info{
                        width: 12%;
                        margin-left: -145px;
                        margin-top: -5px;
                    }
                }


                i{
                    color:#fbf8f8  
                }

                p {
                    color: white;
                }

            }

            img{
                width: 20%;
                height: auto;
            }
        }
    }

    .education{
        border: 3px solid black;
        background: rgb(77, 107, 84);
        padding-left: 10%;

        h1{
            color: rgb(238, 182, 191);
            font-size: 3.5rem;
        }

        h2{
            font-size: 1.7rem;
        }

        div{
            display: grid;
            grid-template-columns: 1fr 650px;
            grid-template-rows: 1fr;
            gap: 0;
        }

        .year{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }
    }

    .skills{
        padding-top: 7%;
        padding-bottom: 0;
        margin: 0;
        
        border: 3px solid black;
        background: rgb(77, 107, 84);

        .skillsCon{
            padding-top: 20%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 0;
            border: 3px solid black;
            h1{
                border: 3px solid black;
            }
            h2{
                order: 3;
            }
        }

    }

    .activity{
        background: rgb(252, 248, 236);
        border: 3px solid black;
    }

    .others{
        background: rgb(252, 248, 236);
        border: 3px solid black;
    }
}

footer{
    display: flex;
    justify-content: center;
    background: rgb(77, 107, 84);
    padding: 3%;
    margin-top: 5%;
    color: white;
    font-size: 0.8rem;

    div {
        padding-left: 10%;
        button{
        
            img {
                width: 13px;
            }
        }
    
    }
    
}

