*{
    padding: 0;
    border: 0;
    margin: 0;
}

header,
header *{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

button,
button *{
    border: 5px;
    padding: 2px;
    background-color: transparent;
}

div,
div *{
    border: 5px;
    padding: 5px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 23.6%;
    border: 3px solid black;
    padding-bottom: 0;
    gap: 0;

    .intro{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
        background: rgb(252, 248, 236);
        
        h1{
            font-size: 6rem;
            margin-left: -2.5%;
        }

        p{
            font-size: 1.1rem;
        }
    }
    .intro2{
        position: relative;
        background: rgb(252, 248, 236);
        .float{
            position: absolute;

            padding: 0;
            width: 55%;
            height: 500px;
            top: 20%;
            left: 20%;

            .myimage{
                height: 400px;
                background: rgb(77, 107, 84);
                position: relative;

                img{
                    width: 510px;
                    position: absolute;
                    top: -8rem;
                    left: -5px;
                }
            }
            .contact{
                height: 240px;
                background: black;

                h2{
                    color:rgb(238, 182, 191);
                    padding: 4% 2% 1% 6%;
                    font-size: 3rem;
                }

                .contactCont{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    .icons{
                        
                        justify-self: flex-end;
                        font-size: 1.7rem;
                    }
                    
                    .info{
                        font-size: 1.2rem;
                        place-content: space-evenly;
                    }
                }


                i{
                    color:#fbf8f8  
                }

                p {
                    color: white;
                }

            }

            img{
                width: 20%;
                height: auto;
            }
        }
    }

    .education{
        background: rgb(77, 107, 84);
        padding-top: 2%;
        padding-left: 10%;

        h1{
            color: rgb(238, 182, 191);
            font-size: 3.5rem;
        }

        h2{
            font-size: 2rem;
        }



        div{
            display: grid;
            grid-template-columns: 1fr 600px;
            grid-template-rows: 1fr;
            gap: 0;
        }

        .year{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 30px;
            color: white;
        }

        .info{
            display: flex;
            padding-top: 40px;
            flex-direction: column;
            justify-content: space-between;

            b{
                
                font-size: 1.3rem;
            }

            p{
                font-size: larger;
            }
        }
    }

    .skills{
        padding-top: 22%;
        padding-bottom: 0;
        background: rgb(77, 107, 84);

        .skillsCon{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0;
            margin: 0;
            h1{
                
                grid-column: 1 / 4 ;
                grid-row: 1 / 2;
                align-self: center;
                font-size: 3.5rem;
                padding-top: 50px;
                color:rgb(238, 182, 191);
            }

            #softSkills{
                grid-row: 2 / 3;
                grid-column: 1 / 2;
                padding-left: 30px;
                h2{
                    font-size: 2rem;
                    color:#fbf8f8;
                }
                img {
                    width: 60px;
                    height: auto; 
                }
                div{
                    display: flex;
                    justify-content: space-around;
                }
            }

            #codingSkills{
                grid-column: 2 / 4 ;
                grid-row: 2 / 3;
                padding-left: 30px;

                .label{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    display: flex;
                    justify-content: space-around;
                    align-items: flex-end;
                    padding-left: 0;

                    p{
                        font-size: 2rem;
                    }
                }

                h2{
                    font-size: 2rem;
                    color:#fbf8f8;
                }

                .prog{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                grid-column: 2 / span 3 ;
                grid-row: 3 / 4;

                .container {
                    background-color: rgb(192, 192, 192);
                    width: 20%;
                    height: 10%;
                    border-radius: 15px;
                    border-color: transparent;

                    .bar1 {
                        background-color:rgb(238, 182, 191);
                        text-align: center;
                        font-size: 100px;
                        border-radius: 15px;
                        width: 55px;
                    }
                    .bar2 {
                        background-color:rgb(238, 182, 191);
                        text-align: center;
                        font-size: 100px;
                        border-radius: 15px;
                        width: 54px;
                    }

                    .bar3 {
                        background-color:rgb(238, 182, 191);
                        text-align: center;
                        font-size: 100px;
                        border-radius: 15px;
                        width: 59px;
                    }

                    .bar4 {
                        background-color:rgb(238, 182, 191);
                        text-align: center;
                        font-size: 100px;
                        border-radius: 15px;
                        width: 25px;
                    }
                }

            }
            }

        }

    }


    .others{
        grid-column: 1/ 3;
        background: rgb(252, 248, 236);
        padding-top: 1.5%;
        padding-left: 4%;

        h1{
            color: rgb(238, 182, 191);
            font-size: 3.5rem;
        }

        #container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 0;

            i{
                align-items: center;
                font-size: 3rem;
            }

            .hobbies{
                border: 3px solid black;
                i{
                    font-size: 3rem;
                }
            }

            .language{
                div{
                    display: flex;
                    justify-content: space-around;
                    padding-left: 50px;
                    padding-top: 20px;
                    h2{
                        font-size: 2rem;
                    }
                }
            }
        }
    }
}

footer{
    display: flex;
    justify-content: center;
    background: rgb(77, 107, 84);
    padding: 3%;
    margin-top: 5%;
    color: white;
    font-size: 0.8rem;

    div {
        padding-left: 10%;

        a {
            color: white;
            text-decoration: none;
        }
        button{
        
            img {
                width: 13px;
            }
        }
    
    }
    
}

