*{
    padding: 0;
    border: 0;
    margin: 0;
}

header,
header *{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

button,
button *{
    border: 5px;
    padding: 2px;
    background-color: transparent;
}

div,
div *{
    border: 5px;
    padding: 5px;
}

.container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 3px solid black;
    gap: 0;

    .intro{
        border: 3px solid black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
        background: rgb(252, 248, 236);
        
        h1{
            font-size: 6rem;
            margin-left: -2.5%;
        }

        p{
            font-size: 1.1rem;
        }
    }
    .intro2{
        border: 3px solid black;
        position: relative;
        background: rgb(252, 248, 236);
        
        .float{
            position: absolute;
            border: 3px solid black;
            width: 45%;
            height: 550px;
            top: 50%;
            left: 20%;

            .myimage{
                height: 350px;
                border: 3px solid black;
            }
            .contact{
                border: 3px solid black;
                height: 170px;
            }
            img{
                width: 20%;
                height: auto;
            }
        }
    }

    .education{
        border: 3px solid black;
        background: rgb(77, 107, 84);
    }

    .skills{
        border: 3px solid black;
        background: rgb(77, 107, 84);
    }

    .activity{
        background: rgb(252, 248, 236);
        border: 3px solid black;
    }

    .others{
        background: rgb(252, 248, 236);
        border: 3px solid black;
    }
}

footer{
    display: flex;
    justify-content: center;
    background: rgb(77, 107, 84);
    padding: 3%;
    margin-top: 5%;
    color: white;
    font-size: 0.8rem;

    div {
        padding-left: 10%;
        button{
        
            img {
                width: 13px;
            }
        }
    
    }
    
}

